In [16]:
import pandas as pd

df1 = pd.read_csv("0_700.csv")
df2 = pd.read_csv("700-1399.csv")
df3 = pd.read_csv("1400-2100.csv")
df4 = pd.read_csv("2100-2698.csv")
df5 = pd.read_csv("2699-4199.csv")
df6 = pd.read_csv("4200_4900.csv")

In [2]:
df1['작성일자']

0        1일 전
1        1일 전
2        1일 전
3        1일 전
4        2일 전
        ...
695    06. 14
696    06. 14
697    06. 14
698    06. 13
699    06. 13
Name: 작성일자, Length: 700, dtype: object

## ■ 날짜 전처리

### ● 최신글 : 0-700 날짜외 표시되는 작성일자 전처리 함수

### > func1 : datefix(x)

In [3]:
# 날짜 외 표시되는 함수 → 특정 일자로 지정해주는 함수
def datefix(x):
    if x in ['1일 전', '2일 전', '3일 전', '4일 전', '5일 전', '6일 전']:
        return '22.10.07'
    elif x == '1주 전':
        return '22.10.01'
    elif x == '2주 전':
        return '22.09.24'
    elif x == '3주 전':
        return '22.09.17'
    else:
        return x

### > func2 : plusyear(x)

In [4]:
# 날짜 개수로 문자수 6미만인 경우, '연도없음'으로 판단. 연도 붙여주는 함수
# 0-700 데이터인 경우 해당

def plusyear(x):
    if len(x.replace(' ','')) <= 6:
        return '2022.'+x
    elif len(x.replace(' ','')) >= 8:
        return '20' +x
    else:
        return x.replace(' ','')

#### --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [18]:
# 0-700 (제일 최신글) 작성일자 변경
df1['작성일자'] = df1['작성일자'].apply(datefix)
df1['작성일자'] = df1['작성일자'].apply(plusyear)
df1['작성일자'] = df1['작성일자'].apply(lambda x: x.replace(' ',''))
df1['작성일자']

0      2022.10.07
1      2022.10.07
2      2022.10.07
3      2022.10.07
4      2022.10.07
          ...
695    2022.06.14
696    2022.06.14
697    2022.06.14
698    2022.06.13
699    2022.06.13
Name: 작성일자, Length: 700, dtype: object

In [20]:
df2['작성일자'] = df2['작성일자'].apply(plusyear)
df2['작성일자']

0      2022.06. 13
1      2022.06. 13
2      2022.06. 12
3      2022.06. 12
4      2022.06. 12
          ...
695    2022.02. 13
696    2022.02. 13
697    2022.02. 13
698    2022.02. 13
699    2022.02. 12
Name: 작성일자, Length: 700, dtype: object

In [22]:
df3['작성일자'] = df3['작성일자'].apply(plusyear)
df3['작성일자']

0       2022.02. 12
1       2022.02. 12
2       2022.02. 12
3       2022.02. 12
4       2022.02. 12
           ...
695    2021. 09. 28
696    2021. 09. 28
697    2021. 09. 28
698    2021. 09. 27
699    2021. 09. 27
Name: 작성일자, Length: 700, dtype: object

In [23]:
df4['작성일자'] = df4['작성일자'].apply(plusyear)
df4['작성일자']

0      2021. 09. 27
1      2021. 09. 27
2      2021. 09. 27
3      2021. 09. 27
4      2021. 09. 27
           ...
594    2021. 05. 17
595    2021. 05. 17
596    2021. 05. 17
597    2021. 05. 17
598    2021. 05. 17
Name: 작성일자, Length: 599, dtype: object

In [24]:
df5['작성일자'] = df5['작성일자'].apply(plusyear)
df5['작성일자']

0       2021. 05. 17
1       2021. 05. 15
2       2021. 05. 15
3       2021. 05. 15
4       2021. 05. 15
            ...
1496    2020. 05. 17
1497    2020. 05. 17
1498    2020. 05. 17
1499    2020. 05. 16
1500    2020. 05. 16
Name: 작성일자, Length: 1501, dtype: object

In [25]:
df6['작성일자'] = df6['작성일자'].apply(plusyear)
df6['작성일자']

0      2020. 05. 16
1      2020. 05. 15
2      2020. 05. 15
3      2020. 05. 15
4      2020. 05. 15
           ...
695    2019. 10. 27
696    2019. 10. 26
697    2019. 10. 26
698    2019. 10. 26
699    2019. 10. 26
Name: 작성일자, Length: 700, dtype: object

###### -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [26]:
# 스크래핑된 데이터 병합
import pandas as pd

df = pd.concat([df1, df2, df3, df4, df5, df6])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4900 entries, 0 to 699
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4900 non-null   int64
 1   url         4900 non-null   object
 2   제목          4900 non-null   object
 3   작성일자        4900 non-null   object
 4   평수          4900 non-null   object
 5   가족형태        4900 non-null   object
 6   공간          4900 non-null   object
 7   스타일         4900 non-null   object
 8   세부공사        4900 non-null   object
 9   작업          4900 non-null   object
 10  지역          4900 non-null   object
 11  분야          4900 non-null   object
 12  예산          4900 non-null   object
 13  스크랩         4900 non-null   object
 14  좋아요         4900 non-null   object
 15  댓글          4900 non-null   int64
 16  조회          4900 non-null   object
dtypes: int64(2), object(15)
memory usage: 689.1+ KB

In [27]:
df.count()

Unnamed: 0    4900
url           4900
제목            4900
작성일자          4900
평수            4900
가족형태          4900
공간            4900
스타일           4900
세부공사          4900
작업            4900
지역            4900
분야            4900
예산            4900
스크랩           4900
좋아요           4900
댓글            4900
조회            4900
dtype: int64

In [28]:
df.head()

,Unnamed: 0,url,제목,작성일자,평수,가족형태,공간,스타일,세부공사,작업,지역,분야,예산,스크랩,좋아요,댓글,조회
0,0,https://ohou.se/projects/126917/detail?affect_...,서재형 거실부터 베란다 아뜰리에까지! 센스만점 오베네홈,2022.10.07,34평,아기가 있는 집,아파트,내추럴,0,전문가,0,리모델링,0,136,57,15,"10,513"
1,1,https://ohou.se/projects/126600/detail?affect_...,"구축 2Bay 리모델링의 바이블, 모던한 32평 신혼집",2022.10.07,32평,신혼부부,아파트,모던,"주방리모델링, 조명시공, 중문, 가벽&파티션, 슬라이딩도어",전문가,전라북도 전주시,리모델링,"4,200만원",75,26,12,"5,610"
2,2,https://ohou.se/projects/123056/detail?affect_...,취향을 읽고 쓰는 비밀 서재처럼- 푸릇푸릇 3평 방,2022.10.07,3평,부모님과 함께 사는 집,기타,내추럴,0,셀프•DIY,경상남도 김해시,홈스타일링,0,201,60,15,"4,214"
3,3,https://ohou.se/projects/116945/detail?affect_...,손 뻗으면 닿을 듯한 녹음🌳 싱그러운 저층집 리모델링,2022.10.07,32평,신혼부부,아파트,모던,"주방리모델링, 조명시공, 중문",전문가,대전광역시 유성구,리모델링,"5,500만원",643,169,122,"37,375"
4,4,https://ohou.se/projects/127436/detail?affect_...,아늑하고 편안한 무드로- 빈티지 한 스푼 더한 내추럴홈,2022.10.07,57평,신혼부부,아파트,내추럴,"주방리모델링, 중문",전문가,충청북도 청주시,리모델링,"9,500만원",73,13,9,"3,760"

In [29]:
# 2차 전처리전 파일 내리기
df.to_csv('df.csv')